<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow mb-4">
    <!-- TODO router link -->
    <div class="navbar-brand">
        Worldpay SDK Demo
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                Payment
            </a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" href="#">
                Inquiry
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Cancel
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Refund
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Fetch Token(s)
            </a>
        </li>
        -->
    </ul>
</nav>

<main>
    <div class="container">

        <pay></pay>

    </div>
</main>
