<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow mb-4">
    <!-- TODO router link -->
    <div class="navbar-brand">
        Worldpay SDK Demo
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                Payment
            </a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" href="#">
                Inquiry
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Cancel
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Refund
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Fetch Token(s)
            </a>
        </li>
        -->
    </ul>
</nav>

<main>
    <div class="container">

        <div class="card">
            <h5 class="card-header">
                Order Details
            </h5>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="orderCode" class="col-sm-2 col-form-label">Order Code</label>
                        <div class="col-sm-2">
                            <input type="text" id="orderCode" name="orderCode" placeholder="order1234" value="order1234" class="form-control" />
                        </div>
                        <label for="shopperId" class="col-sm-2 col-form-label">Shopper ID</label>
                        <div class="col-sm-2">
                            <input type="text" id="shopperId" name="shopperId" placeholder="shopper123" value="shopper123" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" id="address" name="address" placeholder="123 Test Street" value="123 Test Street" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city" class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-10">
                            <input type="text" id="city" name="city" placeholder="Cambridge" value="Cambridge" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="postalCode" class="col-sm-2 col-form-label">Postal Code</label>
                        <div class="col-sm-2">
                            <input type="text" id="postalCode" name="postalCode" placeholder="CB4 0WE" value="CB4 0WE" class="form-control" />
                        </div>
                        <label for="countryCode" class="col-sm-2 col-form-label">Country Code</label>
                        <div class="col-sm-2">
                            <input type="text" id="countryCode" name="countryCode" placeholder="GB" value="GB" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                        <div class="col-sm-2">
                            <input type="text" id="amount" name="amount" placeholder="1234" value="1234" class="form-control" />
                        </div>
                        <label for="currency" class="col-sm-2 col-form-label">Currency</label>
                        <div class="col-sm-2">
                            <input type="text" id="currency" name="currency" placeholder="GBP" value="GBP" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mt-4">
            <h5 class="card-header">
                Payment Method
            </h5>
            <div class="card-body">

                <ul class="nav nav-tabs mb-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span class="icon icon-credit-card"></span>
                            Pay by Card
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="icon icon-credit-card"></span>
                            Pay using Token
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="icon icon-newspaper"></span>
                            Pay by HPP
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="icon icon-paypal"></span>
                            Pay by PayPal
                        </a>
                    </li>
                </ul>

                <form>
                    <div class="form-group row">
                        <label for="cardNumber" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="name" name="name" placeholder="Name" value="3D" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cardNumber" class="col-sm-2 col-form-label">Card Number</label>
                        <div class="col-sm-10">
                            <input type="text" id="cardNumber" name="cardNumber" placeholder="Card Number" value="4444333322221129" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cardNumber" class="col-sm-2 col-form-label">Expiry Month</label>
                        <div class="col-sm-2">
                            <select class="form-control">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option selected>12</option>
                            </select>
                        </div>
                        <label for="cardNumber" class="col-sm-2 col-form-label">Expiry Year</label>
                        <div class="col-sm-2">
                            <select class="form-control">
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option selected>22</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cvc" class="col-sm-2 col-form-label">CVC</label>
                        <div class="col-sm-2">
                            <input type="text" id="cvc" name="cvc" placeholder="CVC" value="123" class="form-control" />
                        </div>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="tokenise" name="tokenise" checked />
                        <label class="custom-control-label" for="tokenise">Remember me (tokenise card)</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary float-right">
                            <span class="icon icon-embed2"></span>
                            See the code
                        </button>
                        <button class="btn btn-primary">
                            Pay
                        </button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card mt-4 mb-4">
            <h5 class="card-header">
                Code
            </h5>
            <div class="card-body">

                <ul class="nav nav-pills card-header-pills mb-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Java SDK
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Without SDK
                        </a>
                    </li>
                </ul>

                <div class="card-title">
                    Code
                </div>
                <codePayByCard></codePayByCard>

                <div class="card-title">
                    card.xml
                </div>
                TODO

                <div class="card-title">
                    card-tokenised.xml
                </div>
                TODO

                <div class="card-title">
                    Code
                </div>
                TODO


            </div>
        </div>

    </div>
</main>
