<div [ngClass]="{'d-none' : code != 'java-sdk'}">
    <h5 class="card-title">
        XmlNotificationDemoApp.java
    </h5>
    <prism path="/assets/code/notification-sdk.txt"></prism>
</div>

<div [ngClass]="{'d-none' : code != 'nonsdk'}">

    <p class="alert alert-danger">
        <span class="icon icon-warning"></span>
        This approach, for demo purposes only, is dangerous for inserting data into XML - do not use it!
    </p>

    <h5 class="card-title">
        NonSdkXmlNotification.java
    </h5>
    <prism path="/assets/code/notification-non-sdk.txt"></prism>

</div>
