<div class="text-center">
    <button class="btn btn-primary mb-4" (click)="toggleCode(codeElement)" #codeElement>
        <span class="icon icon-embed2"></span>
        <span *ngIf="!showCode">
                See the code
            </span>
        <span *ngIf="showCode">
                Hide code
            </span>
    </button>
</div>
<div class="card mb-4" [ngClass]="{'d-none' : !showCode}">
    <h5 class="card-header">
        Code
    </h5>
    <div class="card-body">

        <p>
            <button class="btn" [ngClass]="{'btn-primary' : code == 'java-sdk'}" (click)="viewCode('java-sdk')">
                Java SDK
            </button>
            <button class="btn" [ngClass]="{'btn-primary' : code == 'nonsdk'}" (click)="viewCode('nonsdk')">
                Without SDK
            </button>
        </p>

        <codePayByCard *ngIf="type == 'card'" [code]="code"></codePayByCard>
        <codePayByToken *ngIf="type == 'token'" [code]="code"></codePayByToken>
        <codePayByHpp *ngIf="type == 'hpp'" [code]="code"></codePayByHpp>
        <codePayByPayPal *ngIf="type == 'paypal'" [code]="code"></codePayByPayPal>

        <codeNotification *ngIf="type == 'notification'" [code]="code"></codeNotification>

    </div>
</div>
