<div [ngClass]="{'d-none' : code != 'java-sdk'}">
    <h5 class="card-title">
        CardTokenisationDemoApp.java
    </h5>
    <prism path="/assets/code/payByCard-sdk.txt"></prism>
</div>

<div [ngClass]="{'d-none' : code != 'nonsdk'}">

    <p class="alert alert-danger">
        <span class="icon icon-warning"></span>
        This approach, for demo purposes only, is dangerous for inserting data into XML - do not use it!
    </p>

    <h5 class="card-title">
        NonSdkCardPayment.java
    </h5>
    <prism path="/assets/code/payByCard-non-sdk.txt"></prism>

    <h5 class="card-title">
        card.xml
    </h5>
    <prism path="/assets/code/payByCard-non-sdk-cardxml.txt" language="none"></prism>

    <h5 class="card-title">
        card-tokenise.xml
    </h5>
    <prism path="/assets/code/payByCard-non-sdk-cardtokenisexml.txt" language="none"></prism>
</div>
