<div *ngIf="notifications == null">
    <p class="text-center">
        <span class="icon icon-spinner9 spin"></span>
    </p>
    <h4 class="text-center">
        Loading
    </h4>
</div>
<div *ngIf="notifications != null">
    <h4 class="text-center mb-4" *ngIf="notifications.length == 0">
        No notifications received from WPG
    </h4>

    <div *ngIf="notifications.length > 0">
        <p class="text-center">
            <button class="btn btn-primary" (click)="deleteAll()">
                Delete All
            </button>
        </p>
        <div class="card" *ngFor="let notification of notifications; trackBy: trackNotification">
            <h5 class="card-header" title="{{ notification.id }}">
                {{ notification.orderCode }}
            </h5>
            <div class="card-body text-center">
                <button class="btn btn-primary" (click)="delete(notification.id)">
                    Delete
                </button>
            </div>
            <div class="card-body">
                <textarea class="form-control" cols="100" rows="24">{{ notification.xml }}</textarea>
            </div>
        </div>
    </div>
</div>

<codeViewer [type]="'notification'"></codeViewer>
