<div class="card">
    <h5 class="card-header">
        Order Details
    </h5>
    <div class="card-body">
        <form [formGroup]="orderDetailsForm" #form="ngForm">

            <div class="form-group row">
                <label for="orderCode" class="col-lg-2 col-form-label">Order Code</label>
                <div class="col-lg-2">
                    <input id="orderCode"
                           name="orderCode"
                           type="text"
                           placeholder="order1234"
                           value="order1234"
                           class="form-control"
                           formControlName="orderCode"
                           [(ngModel)]="form.value['orderCode']"
                    />
                </div>
                <label for="shopperId" class="col-lg-2 col-form-label">Shopper ID</label>
                <div class="col-lg-2">
                    <input type="text" id="shopperId" name="shopperId" placeholder="shopper123" value="shopper123" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="amount" class="col-lg-2 col-form-label">Amount</label>
                <div class="col-lg-2">
                    <input type="text" id="amount" name="amount" placeholder="1234" value="1234" class="form-control" />
                </div>
                <label for="currency" class="col-lg-2 col-form-label">Currency</label>
                <div class="col-lg-2">
                    <input type="text" id="currency" name="currency" placeholder="GBP" value="GBP" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-2 col-form-label">Description</label>
                <div class="col-lg-10">
                    <input type="text" id="description" name="description" placeholder="Test order" class="form-control" />
                </div>
            </div>



            <div class="form-group row">
                <label for="address" class="col-lg-2 col-form-label">Address</label>
                <div class="col-lg-10">
                    <input type="text" id="address" name="address" placeholder="123 Test Street" value="123 Test Street" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="city" class="col-lg-2 col-form-label">City</label>
                <div class="col-lg-2">
                    <input type="text" id="city" name="city" placeholder="Cambridge" value="Cambridge" class="form-control" />
                </div>
                <label for="postalCode" class="col-lg-2 col-form-label">Postal Code</label>
                <div class="col-lg-2">
                    <input type="text" id="postalCode" name="postalCode" placeholder="CB4 0WE" value="CB4 0WE" class="form-control" />
                </div>
                <label for="countryCode" class="col-lg-2 col-form-label">Country Code</label>
                <div class="col-lg-2">
                    <input type="text" id="countryCode" name="countryCode" placeholder="GB" value="GB" class="form-control" />
                </div>
            </div>

        </form>
    </div>
</div>
