<div [ngClass]="{'d-none' : isFormDone()}">
    <orderDetails [orderDetailsForm]="orderDetailsForm"></orderDetails>

    <div class="card mt-4 mb-4">
        <h5 class="card-header">
            Payment Method
        </h5>
        <div class="card-body">

            <ul class="nav nav-tabs mb-4">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="payType='card'" [ngClass]="{'active' : payType == 'card'}">
                        <span class="icon icon-credit-card"></span>
                        Pay by Card
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="payType='token'" [ngClass]="{'active' : payType == 'token'}">
                        <span class="icon icon-credit-card"></span>
                        Pay using Token
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="payType='hpp'" [ngClass]="{'active' : payType == 'hpp'}">
                        <span class="icon icon-newspaper"></span>
                        Pay by HPP
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="payType='paypal'" [ngClass]="{'active' : payType == 'paypal'}">
                        <span class="icon icon-paypal"></span>
                        Pay by PayPal
                    </a>
                </li>
            </ul>

            <payByCard *ngIf="payType == 'card'" [orderDetailsForm]="orderDetailsForm" (loading)="showLoading()" (reply)="handleResponse($event)"></payByCard>
            <payByToken *ngIf="payType == 'token'" [orderDetailsForm]="orderDetailsForm" (loading)="showLoading()" (reply)="handleResponse($event)"></payByToken>
            <payByHpp *ngIf="payType == 'hpp'" [orderDetailsForm]="orderDetailsForm" (loading)="showLoading()" (reply)="handleResponse($event)"></payByHpp>
            <payByPayPal *ngIf="payType == 'paypal'" [orderDetailsForm]="orderDetailsForm" (loading)="showLoading()" (reply)="handleResponse($event)"></payByPayPal>

        </div>
    </div>

</div>

<div class="text-center" *ngIf="loading">
    <p class="text-center">
        <span class="icon icon-spinner9 spin"></span>
    </p>
    <p>
        Making request
    </p>
</div>

<div [ngClass]="{'d-none' : data == null}" #response>
    <p class="text-center">
        <button class="btn btn-primary" (click)="reset()">
            Back
        </button>
    </p>
    <p *ngIf="data != null && data.error != null" class="alert alert-danger">
        {{ data.error }}
    </p>
    <p>
        <textarea *ngIf="data != null && data.paymentResponse != null" class="form-control" cols="100" rows="100" #paymentResponse>{{ data.paymentResponse | json }}</textarea>
    </p>
    <p *ngIf="data != null && data.redirect != null" class="text-center">
        <a class="btn btn-lg btn-primary" href="{{ data.redirect }}" target="_blank">
            <span class="icon icon-new-tab"></span>
            Continue Payment in New Window
        </a>
    </p>
</div>


<div class="text-center">
    <button class="btn btn-primary mb-4" (click)="toggleCode(codeElement)" #codeElement>
        <span class="icon icon-embed2"></span>
        <span *ngIf="!showCode">
                See the code
            </span>
        <span *ngIf="showCode">
                Hide code
            </span>
    </button>
</div>
<div class="card mb-4" [ngClass]="{'d-none' : !showCode}">
    <h5 class="card-header">
        Code
    </h5>
    <div class="card-body">

        <p>
            <button class="btn" [ngClass]="{'btn-primary' : code == 'java-sdk'}" (click)="viewCode('java-sdk')">
                Java SDK
            </button>
            <button class="btn" [ngClass]="{'btn-primary' : code == 'nonsdk'}" (click)="viewCode('nonsdk')">
                Without SDK
            </button>
        </p>

        <codePayByCard *ngIf="payType == 'card'" [code]="code"></codePayByCard>
        <codePayByToken *ngIf="payType == 'token'" [code]="code"></codePayByToken>
        <codePayByHpp *ngIf="payType == 'hpp'" [code]="code"></codePayByHpp>
        <codePayByPayPal *ngIf="payType == 'paypal'" [code]="code"></codePayByPayPal>

    </div>
</div>
