<div [ngClass]="{'d-none' : code != 'java-sdk'}">
    <h5 class="card-title">
        CaptureCvcDemoApp.java
    </h5>
    <prism path="/assets/code/payByToken-sdk.txt"></prism>
</div>

<div [ngClass]="{'d-none' : code != 'nonsdk'}">

    <p class="alert alert-danger">
        <span class="icon icon-warning"></span>
        This approach, for demo purposes only, is dangerous for inserting data into XML - do not use it!
    </p>

    <h5 class="card-title">
        NonSdkTokenPayment.java
    </h5>
    <prism path="/assets/code/payByToken-non-sdk.txt"></prism>

    <h5 class="card-title">
        token-payment.xml
    </h5>
    <prism path="/assets/code/payByToken-non-sdk-xml.txt" language="none"></prism>

</div>
